accelerate==0.18.0
datasets==2.10.1
faiss-cpu==1.7.3
nltk==3.8.1
openpyxl==3.1.2
pandas==1.5.0
protobuf==3.20.2
PyMuPDF==1.21.1
sentence-transformers==2.2.2
spacy==3.5.1
torch==2.0.0
transformers==4.27.2
sentencepiece==0.1.97
types-setuptools==57.4.10
